body{
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
}
.background{
    background-color: rgb(250, 243, 236);
}
.mybutton img{
width: 30px;
}
 .mybutton{
    width: 170px;
    height: 50px;
}
.mydiv img{
    width: 60px;
}
.mydiv{
    background-color: white;
    border-radius: 10px;
}
.sec-4{
    height: 40rem;
    padding-top: 8rem;
}
.shoe-card{
    border: 0;
}
.shoe-card .myimg{
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    height: 380px;
}
.shoe-card .myimg1{
    height: 380px;
}
.shoe-card-footer{
    border: 0px;
    background-color: white;
}
.orange{
    color: coral;
}
.social-icons{
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}
.social-icons img{
display: block;
width: 20px;
margin: 0 auto 20px;
cursor: pointer;
}
